---
import Footer from "../components/Footer.astro";

interface Props {
	Title: string;
}

import "../styles/Layout.css";

const { Title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Landing Page - {Title}</title>
	</head>
	<body>
		<main class="mx-auto container md:pt-10">
			<slot />
		</main>
		<Footer />
	</body>
</html>
